li.pods-form-ui-row-type-wysiwyg {
    padding-left: 20px;
    padding-right: 30px;
}

.pods-field-label {
    display: none !important;
}

li.pods-form-ui-row-type-wysiwyg .pods-field-input {
    width: 100% !important;
}

